@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '../node_modules/angular-calendar/css/angular-calendar.css';

/* background colors */
.project-bg-white1 {
  background-color: #ffffff;
}

.project-bg-white2 {
  background-color: #eef1f4;
}

.project-bg-blue1 {
  background-color: #4873c4;
}

.project-bg-blue2 {
  background-color: #33558e;
}

.project-bg-blue3 {
  background-color: #597cbf;
}

.project-bg-blue4 {
  background-color: #3a7aca;
}

/* foreground colors */
.project-fg-white1 {
  color: #ffffff;
}

.project-fg-black1 {
  color: #364862;
}

.project-fg-blue1 {
  color: #4873c4;
}

/* other settings */
body {
  margin: 0;
  overflow: hidden;
}

.project-top-border {
  border-top: 1px solid #d0d7e3;
}

.project-bottom-border {
  border-bottom: 1px solid #d0d7e3;
}

.main-content {
  min-width: auto;
  min-height: calc(100vh - 60px);
}

h1 {
  font-size: 1.6em;
}

.scroll-content {
  max-height: calc(100vh - 60px);
  overflow: auto;
}

.page-main-content {
  width: 100%;
  padding: 0px 0px 30px 30px;
}

.main-contents-card {
  width: calc(100% - 60px);
  background-color: #ffffff;
  border-radius: 0px;
}

.menu-panel {
  border-radius: 0px !important;
}
