.username-header,
.username-cell {
  text-align: start;
  width: 13%;
}

.email-header,
.email-cell {
  text-align: start;
  width: 15%;
}

.admission-year-header,
.admission-year-cell {
  text-align: start;
  width: 10%;
}

.reservation-time-header,
.reservation-time-cell {
  text-align: start;
  width: auto;
}

.control-header,
.control-cell {
  text-align: center;
  width: 100px;
}
