<div class="main-content" fxLayout="column" fxLayoutAlign="start">
  <div>
    <h1 class="project-fg-black1" fxFlexOffset="30px">サービス一覧</h1>
  </div>

  <div>
    <div
      class="scroll-content"
      fxLayout="row wrap"
      fxLayoutAlign="start wrap"
      fxLayoutGap="20px"
      fxFlexOffset="30px"
    >
      <app-service-card></app-service-card>
      <app-service-card></app-service-card>
      <app-service-card></app-service-card>
      <app-service-card></app-service-card>
      <app-service-card></app-service-card>
      <app-service-card></app-service-card>
      <app-service-card></app-service-card>
      <app-service-card></app-service-card>
      <app-service-card></app-service-card>
      <app-service-card></app-service-card>
      <app-service-card></app-service-card>
      <app-service-card></app-service-card>
      <app-service-card></app-service-card>
      <app-service-card></app-service-card>
      <app-service-card></app-service-card>
      <app-service-card></app-service-card>
      <app-service-card></app-service-card>
      <app-service-card></app-service-card>
      <app-service-card></app-service-card>
      <app-service-card></app-service-card>
    </div>
  </div>
</div>
