<div fxLayout="column" fxLayoutAlign="start">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-flat-button class="submit-button" (click)="onClickNew()">
      <mat-icon>add</mat-icon>
      <span>新規作成</span>
    </button>

    <div>
      <button
        mat-icon-button
        class="project-fg-black1"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
      >
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <button
        mat-icon-button
        class="project-fg-black1"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
      >
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </div>
  </div>

  <div class="calendar-container" fxFlexOffset="20px">
    <mwl-calendar-week-view
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [dayStartHour]="8"
      [dayEndHour]="24"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
  </div>
</div>
