.header-content {
  width: 100%;
  height: 60px;
  background: linear-gradient(to right, #2c4d98, #5ea0e3);
}

.header-title {
  white-space: nowrap;
  font-weight: bold;
  font-size: 16pt;
}

app-user-menu {
  margin-right: 10px;
}
