<div fxLayout="row" fxLayoutAlign="center center">
  <form
    class="form-content project-fg-black1"
    fxLayout="column"
    fxLayoutAlign="center"
    (ngSubmit)="onSubmit()"
  >
    <div fxLayout="column" fxLayoutAlign="start start">
      <div fxLayout="row" fxLayoutAlign="start center">
        <span class="input-label">現在のパスワード</span>
        <mat-form-field class="form-input">
          <mat-label>現在のパスワード</mat-label>
          <input
            matInput
            [(ngModel)]="requestBody.currentPassword"
            [type]="hideCurrentPassword ? 'password' : 'text'"
            name="input-password"
            required
          />
          <mat-icon matSuffix (click)="hideCurrentPassword = !hideCurrentPassword">{{
            hideCurrentPassword ? 'visibility' : 'visibility_off'
          }}</mat-icon>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center">
        <span class="input-label">新しいパスワード</span>
        <mat-form-field class="form-input">
          <mat-label>新しいパスワード</mat-label>
          <input
            matInput
            [(ngModel)]="requestBody.newPassword"
            [type]="hideNewPassword ? 'password' : 'text'"
            name="input-password"
            required
          />
          <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword">{{
            hideNewPassword ? 'visibility' : 'visibility_off'
          }}</mat-icon>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <button mat-flat-button class="cancel-button" type="button" (click)="onCancel()">
        キャンセル
      </button>
      <button mat-flat-button class="submit-button">確認</button>
    </div>
  </form>
</div>
