.mat-card {
  width: 380px;
  border-radius: 0px;
}

.mat-card-content {
  padding: 5px;
}

.product-card-title {
  font-size: 20px;
  text-decoration: none;
}

.product-card-description {
  height: 50px;
  overflow-y: scroll;
}
