.product-card {
  margin: 0px 20px 20px 0px;
  width: calc((100vw - 270px) / 3 - 66px);
  border-radius: 0px;
  z-index: 1;
}

.mat-card-content {
  padding: 5px;
}

.product-card-title {
  font-size: 20px;
  text-decoration: none;
}

.product-card-description {
  height: 50px;
  overflow-y: scroll;
}

.version-chip {
  color: #364862;
  background-color: #eef1f4;
  white-space: nowrap;
}
