<div fxLayout="column" fxLayoutAlign="start">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <mat-button-toggle-group
      name="history-type"
      value="everyone"
      (change)="onToggleClick($event.value)"
    >
      <mat-button-toggle value="everyone">全員</mat-button-toggle>
      <mat-button-toggle value="myself">自分</mat-button-toggle>
    </mat-button-toggle-group>

    <button mat-flat-button class="submit-button" (click)="onClickExport()">
      <mat-icon>download</mat-icon>
      <span>エクスポート</span>
    </button>
  </div>

  <app-reservations-table
    *ngIf="reservations"
    [reservations]="displayedReservations"
    fxFlexOffset="20px"
  ></app-reservations-table>
</div>
