<div>
  <app-header></app-header>
  <app-navbar [product]="product">
    <div class="scroll-content">
      <app-topic-path></app-topic-path>

      <div fxLayout="column" fxLayoutAlign="start start">
        <div>
          <h1 class="project-fg-black1" fxFlexOffset="30px">予約一覧</h1>
        </div>

        <mat-card class="mat-elevation-z1 main-contents-card">
          <mat-card-content fxLayout="column" fxLayoutAlign="start">
            <div>
              <button
                mat-flat-button
                class="project-bg-blue4 project-fg-white1"
                style="border-radius: 0px"
              >
                <mat-icon>add</mat-icon>
                <span>新規作成</span>
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </app-navbar>
</div>
