<div class="header-content" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="header-title" fxLayout="row" fxLayoutAlign="start center" fxFlexOffset="20px">
    <mat-icon>dashboard</mat-icon>
    <span fxFlexOffset="5px">RCC Gateway</span>
  </div>

  <div fxLayout="row" fxLayoutAlign="end center">
    <!-- ユーザ情報 -->
    <div fxLayout="row" fxLayoutAlign="start center">
      <button mat-button [matMenuTriggerFor]="menu" fxLayout="row">
        <mat-icon>account_circle</mat-icon>
        <span class="user-name">阿部 健太朗</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <div class="crms-fg-black2">
            <mat-icon>logout</mat-icon>
            <span>ログアウト</span>
          </div>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
