<div fxLayout="column">
  <mat-card class="mat-elevation-z1 main-contents-card padding-top-0">
    <mat-card-title>新規申請</mat-card-title>
    <mat-divider></mat-divider>

    <mat-card-content fxLayout="column" fxLayoutAlign="start" style="padding-top: 16px">
      <app-purchase-orders-new-form></app-purchase-orders-new-form>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-elevation-z1 main-contents-card padding-top-0" fxFlexOffset="30px">
    <mat-card-title>申請履歴</mat-card-title>
    <mat-divider></mat-divider>

    <mat-card-content fxLayout="column" fxLayoutAlign="start" style="padding-top: 16px">
      <app-purchase-orders-histories></app-purchase-orders-histories>
    </mat-card-content>
  </mat-card>
</div>
