.login-card {
  width: 700px;
  border-radius: 0px !important;
}

.login-card-icon {
  padding-top: 30px;
  font-size: 80px;
  height: auto;
  width: auto;
  color: #4054b2;
}

.login-card-title {
  margin-top: 0px;
  color: #757575;
  font-weight: normal;
}

.login-card-content {
  width: 80%;
}

.login-card-fullsize-input {
  width: 100%;
}

.remember-me {
  color: #757575;
  margin-left: 0px;
}

.login-button {
  margin: 20px auto 20px auto;
  width: 150px;
  color: #ffffff;
  background-color: #308aff;
  border-radius: 0px !important;
}
