<mat-card class="login-card" fxLayout="column" fxLayoutAlign="space-between center">
  <mat-card-header fxLayout="column" fxLayoutAlign="start center">
    <mat-icon class="login-card-icon">account_circle</mat-icon>
    <p class="login-card-title">LOGIN</p>
  </mat-card-header>

  <mat-card-content class="login-card-content">
    <form fxLayout="column" fxLayoutAlign="center" #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="login-card-fullsize-input">
        <input
          matInput
          [(ngModel)]="requestBody.email"
          placeholder="Email"
          name="login_email"
          required
        />
        <mat-error> メールアドレスを入力してください </mat-error>
      </mat-form-field>

      <mat-form-field class="login-card-fullsize-input">
        <input
          matInput
          [(ngModel)]="requestBody.password"
          placeholder="Password"
          name="login_password"
          [type]="hidePassword ? 'password' : 'text'"
          required
        />
        <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{
          hidePassword ? 'visibility' : 'visibility_off'
        }}</mat-icon>
        <mat-error> パスワードを入力してください </mat-error>
      </mat-form-field>

      <div>
        <mat-checkbox [(ngModel)]="rememberMe" name="remember_me" class="remember-me"
          >REMEMBER ME</mat-checkbox
        >
      </div>

      <button mat-flat-button class="login-button" (click)="onSubmit()">LOGIN</button>
    </form>
  </mat-card-content>
</mat-card>
