.reservations-table {
  width: 100%;
}

table {
  border: 1px solid #d0d7e3;
}

.mat-header-cell {
  background-color: #f4f6f8;
}

.mat-header-row {
  height: 40px;
}

.mat-row {
  height: auto;
}

.mat-row:nth-child(even) {
  background-color: #f7fbfd;
}

.mat-cell {
  padding: 2px 0px 2px 0px;
  border-bottom-style: none;
}

.username-header,
.username-cell {
  text-align: start;
  width: 13%;
}

.email-header,
.email-cell {
  text-align: start;
  width: 15%;
}

.admission-year-header,
.admission-year-cell {
  text-align: start;
  width: 10%;
}

.reservation-time-header,
.reservation-time-cell {
  text-align: start;
  width: auto;
}

.control-header,
.control-cell {
  text-align: center;
  width: 100px;
}
